.addevent-container {
  width: 100%;
  padding: 0;
  margin: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1000px;
}
.addevent-container form {
  width: 100%;
  max-width: 400px;
  margin-top: 2.144rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.addevent-container form label {
  opacity: 0.75;
  color: var(--text_colour);
}
.addevent-container form div {
  position: relative;
  width: 100%;
}
.addevent-container form input,
.addevent-container form textarea {
  box-sizing: border-box;
  font-family: inherit;
  width: 100%;
  height: 40px;
  padding-inline: 5px;
  border-radius: 4px;

  background-color: rgba(25, 25, 25, 0.1);
  border: 1px solid rgba(50, 50, 50, 0.1);
}
.addevent-container form textarea {
  min-height: 5rem;
  min-width: 100%;
  max-width: 100%;
}

.addevent-container form input:hover,
.addevent-container form textarea:hover {
  border: 1px solid #767676;
  cursor: pointer;
}

.addevent-container form input:focus,
.addevent-container form textarea:focus {
  cursor: text;
  outline: none;
  border: 1px solid white;
}

.addevent-container form button {
  /* width: 100%;
  max-width: 400px; */
  position: relative;
  /* top: 149px; */

  margin-top: 20px;
  font-family: inherit;
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid transparent;
  background-color: rgba(50, 50, 50, 0.2);
  color: var(--text_colour);
}

.addevent-container button:hover,
.addevent-container button:focus {
  opacity: 0.8;
}
.addevent-container button:active {
  opacity: 0.5;
}
.addevent-container button:focus {
  outline: none;
  border: 1px solid white;
}

@media (width >= 580px) {
  .addevent-container {
    width: 500px;
  }
}
