.help-container {
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
}
.help-container h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin-block: 2.144rem;
}

.help-sections {
  /* width: 1000px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.help-sections section {
  /* width: max-content; */
  width: 100%;
  max-width: 800px;
  color: var(--text_colour);
  text-wrap: wrap;
  padding: 1rem;
}
.help-sections section a:hover {
  text-decoration: underline;
}

iframe {
  width: 100%;
  /* keep height proportional  */
  aspect-ratio: 16/9;
  /* height: 315px; */
}

hr {
  border-top: none;
  width: 100%;
}
