.login-container,
.signup-container,
.logout-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logout-container button {
  max-width: 400px;
}
.home {
  /* width: 500px; */
  max-width: 1000px;
  /* height: 3000px; */
}
.home form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.home form label {
  opacity: 0.75;
  color: var(--text_colour);
}

.home form input {
  box-sizing: border-box;
  font-family: inherit;
  width: 100%;
  height: 40px;
  padding-inline: 5px;
  border-radius: 4px;

  background-color: rgba(25, 25, 25, 0.1);
  border: 1px solid rgba(50, 50, 50, 0.1);
}

.home input:hover {
  border: 1px solid #767676;
  cursor: pointer;
}

.home input:focus {
  cursor: text;
  outline: none;
  border: 1px solid white;
}
.home button {
  position: relative;
  /* top: 149px; */

  font-family: inherit;
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid transparent;
  background-color: rgba(50, 50, 50, 0.2);
  color: var(--text_colour);
}

.home button:hover,
.home button:focus {
  opacity: 0.8;
}
.home button:active {
  opacity: 0.5;
}
.home button:focus {
  outline: none;
  border: 1px solid white;
}

.errors {
  color: rgb(238, 109, 154);
}
.errors::before {
  content: '*';
}

@media (width >= 550px) {
  .home {
    width: 500px;
  }
}
