:root {
  --accent: #ff70cb;
  --border_colour: rgba(255, 255, 255, 0.198);
}
:root * {
  box-sizing: border-box;
}
#root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}
*::selection {
  background-color: var(--accent);
  color: black;
}
body {
  overflow-x: hidden;
}
main {
  width: 80%;
  max-width: 1000px;
  margin-block: auto;
  height: 3000px;
  border: 1px solid var(--border_colour);
  border-radius: 8px;
  padding: 0.25rem 2rem;

  margin-top: 8rem;
  margin-bottom: 5rem;

  box-shadow: 0 0 4px var(--border_colour);
  background-color: rgba(17, 17, 17, 0.2);
  backdrop-filter: blur(1px);
}

.background {
  background-color: black;
  width: 100%;
  height: 100%;

  inset: 0;
  position: fixed;
  z-index: -1;
}
